# Dockerがビルド時に必要とするファイル（DockerfileやCOPY/ADDするファイルなど）の情報をビルドコンテキスト呼びます。
# 不必要なファイルが含まれていると、ビルド時間の増加や無駄な再ビルドを引き起こします。
# そのため、「プログラムのビルドに関係のないファイル（README.mdなど）」は含まないようにしましょう。
# ビルド時に無視するファイルやディレクトリのパターンを指定します。通常、ワイルドカードやパターンを使用して複数のファイルやディレクトリを一括で指定します。
# .dockerignoreファイルを適切に使用することで、Dockerイメージのサイズを小さくし、不要なファイルやディレクトリを含めないように管理することができます。
./tools/50-server_cnf.txt